<li class="top-space bottom-space">
	<% if comment.author_url != '' %>
	  <a href="<%= comment.author_url %>">
		  <%= comment.author_name %>
	  </a>
	<% else %>
	  <strong><%= comment.author_name %></strong>
	<% end %>
	<span class="normal-type-small">Posted <%= comment.created_at.strftime("%b %d %Y") %></p>
	<p class="normal-type"><%= comment.body %></p>
</li>