<%= form_for([@post, @post.comments.build]) do |f| %>

	<div class="field">
		<%# f.label :body %>
		<%= f.text_area :body %>
	</div><!--end of .field-->

	<div class="field">
		<%= f.label 'Your name' %>
		<%= f.text_field :author_name %>
	</div><!--end of .field-->
	
	<div class="field">
		<%= f.label 'Website or Email' %>
		<%= f.text_field :author_url %>
	</div><!--end of .field-->
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>