<% title "Spyros' Blog & Portfolio" %>
<div class="post">
  <div class="sep">
    <img class="bubble" src="img/thought_bubble.png" alt="" />
    <p class="date-type"><%= post.created_at.strftime(" %b %d %Y") %></p>
    <a class="tweetlink" href='http://twitter.com/?status="<%= post.title %>" by @spyrosl: <%= link_to "", post %>'>Retweet</a>
  </div>
  <div class="nonsep">
	  <h2><%= post.title %></h2>
    <ul class="meta-tags">
      <li>#<%= post.tag_one %>,</li>
      <li>#<%= post.tag_two %> <span>‹</span></li>
      <li>Category: <%= post.category %> <span>‹</span></li>
      <li><%= link_to "Full post & comments", post %> <span>‹</span></li>
    </ul>
    <% if post_counter==0 %>
	    <%= simple_format(post.body) %>
	  <% else %>
	    <%= simple_format(truncate(post.body, :length => 500, :separator => "...")) %>
	  <% end %>
	</div>
</div>