<% title @post.title %>
<div id="upper-container">	
	<article class="post">
	  <div class="sep">
      <img class="bubble" src="../images/thought_bubble.png" alt="" />
      <p class="date-type"><%= @post.created_at.strftime(" %b %d %Y") %></p>
      <a class="tweetlink" href='http://twitter.com/?status="<%= @post.title %>" by @spyrosl: <%= "http://#{request.host+request.fullpath}" %>'>Tweet this</a>
    </div>
    <div class="nonsep">
	    <h2><%= @post.title %></h2>
      <ul class="meta-tags">
        <li>#<%= @post.tag_one %>,</li>
        <li>#<%= @post.tag_two %><span>‹</span></li>
        <li>Category: <%= @post.category %><span>‹</span></li>
      </ul>
	    <%= @post.body.html_safe %>
	  </div>
	</article><!--end of .post-->
</div><!--end of #upper-container-->