!!! 5
= render :partial => 'layouts/head'
%body#home{ :lang => 'en', :class => "#{controller.controller_name}" }
  #header
    #header-inner
      %a{:href => "/"}
        #circle
          %img#logo{:alt => "ThinkCactus | Code & Randomness", :src => "/images/logo.png"}/
      %h1.header-label 
        spyros livathinos
        %span code & randomness
      %ul.nav
        %li
          %a.link-one{:href => "/about"} about
        %li
          %a.link-two{:href => "/work"} projects
        %li
          %a.link-three{:href => "http://twitter.com/spyrosl" } twitter
        %li
          %a.link-four{:href => "http://github.com/livathinos" } github
        %li
          %a.link-five{:href => "http://feeds.feedburner.com/thinkcactus"} feed
    / end of #header-inner
  / end of #header
  #wrapper
    #content
      = yield
    / end of #content
    .clear
  / end of #wrapper
  = render :partial => 'layouts/footer'
  = render :partial => 'layouts/javascripts'
